#userTable_filter {
    display: none;
}

#roleInput {
    width: 185px;
    height: 30px;
}

.searchButton {
    background-color: cadetblue;
    color: white;

}

.navbar {
    background-color: #f8f9fa;
}

.feedback {
    outline: 0;
    border-width: 2px 2px 2px 2px;
    border-color: red;
}

@media only screen and (max-width: 1300px) {
    .dataTableTfoot th {
        display: list-item !important;
    }
}

th {
    cursor: pointer;
}

.toggle-vis {
    cursor: pointer;
    color: black;
}

.dt-buttons {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.buttons-excel {
    background-color: #198754 !important;
    color: white !important;
}

.buttons-colvis {
    background-color: #5eb2b3 !important;
}

.dt-button-collection {
    background-color: white !important;
}
