.darktheme {
    background: #444444 !important;
    color:lightseagreen !important;
}

.darkthemewithoutbackground {
    color:lightseagreen !important;
}

.navbar {
    background-color: #f8f9fa;
}

.darthemewithwhitetextcolor {
    color : white !important;
}

